<template>
	<div class="bgimg">
	<b-row>
		<b-col cols="12">
			<h2>
				Add Album
				<b-link href="#/">(Album List)<b-link>
			</h2>
			<b-from @submit="onSubmit">
				<b-form-group id="FieldsetHorizontal"
					      horizontal
					      :label-cols="3"
					      breakpoint="md"
					      label="Enter Band Name">
					<b-form-input id="bandName" :state="state" v-model.trim="album.bandName"></b-form-input>
				</b-form-group>
				<b-form-group id="FieldsetHorizontal"
					      horizontal
					      :label-cols="3"
					      breakpoint="md"
					      label="Enter Title">
					<b-form-input id="title" :state="state" v-model.trim="album.title"></b-form-input>
				</b-form-group>
				<b-form-group id="FieldsetHorizontal"
					      horizontal
					      :label-cols="3"
					      breakpoint="md"
					      label="Enter Year">
					<b-form-input id="year" :state="state" v-model.trim="album.year"></b-form-input>
				</b-form-group>
				<b-form-group id="FieldsetHorizontal"
					      horizontal
					      :label-cols="3"
					      breakpoint="md"
					      label="Enter Description">
					<b-form-textarea id="description"
                       				v-model="album.description"
                       				placeholder="Enter description"
                       				:rows="2"
                       				:max-rows="6">{{album.description}}</b-form-textarea>
				</b-form-group>
				<table class="table">
					<thead>
						<tr>
							<td>Title</td>
							<td>Author</td>
							<td>Duration</td>

						</tr>
					</thead>

					<tbody>
						<tr v-for="(track, index) in album.tracks">
							<td><input type="text" v-model="track.title"></td>
							<td><input type="text" v-model="track.author"></td>
							<td><input type="text" v-model="track.duration"></td>
							<td><a v-on:click="removeElement(index);" style="cursor: pointer">Remove</a></td>
						</tr>
					</tbody>
				</table>
					<b-button class="button btn-primary" @click="addTrack">AddTrack</b-button>
				<b-button type="submit" variant="priamry" @click="onSubmit">Save</b-button>
			</b-form>
		</b-col>
	</b-row>
	</div>
</template>

<script>



import axios from 'axios'

export default{
	name: 'CreateAlbum',
	data(){
		return {
			album: {
				bandName: '',
				title: '',
				year: '',
				Description: '',
				tracks: [{
					title: '',
					author: '',
					duration: ''
				}]
			}
		}
	},
	methods: {
		onSubmit (evt) {
			evt.preventDefault()
			axios.post(`http://localhost:3030/album`, this.album)
				.then(response => {
					this.$router.push({
				//	name: 'ShowAlbum',
					name: 'AlbumList',
						params: {
							id: response.data._id
						}
					})
				})
				.catch(e => {
					this.errors.push(e)
				})
		},
		addTrack: function(){
			var element = document.createElement('tr');
			this.album.tracks.push({
				title: '',
				author: '',
				duration: ''
			});
		},
		removeElement:function(index) {
			this.album.tracks.splice(index, 1);
		}
	}
}
</script>

<style>
.bgimg {
	background:rgba(255,255,255,0.5);

}
</style>



















