<template>
	<div class="bgimg">
	<b-row>
		<b-col cols='12'>
			<h2>
				Album Details
				<b-link href="#/">(List Albums)</b-link>
			</h2>
			<b-jumbotron class="bgimg">
				<template slot="header">
					<b v-if="!seen">{{album.title}}</b>
				</template>
				<template slot="lead">
					<label for="title" v-if="seen">Enter Album Title: </label>
					<input v-if="seen" id="title" :state="state" v-model.trim="album.title"></b-form-input><br v-if="seen">
					<p v-if="!seen"> Band name: {{album.bandName}} </p>
					<label for="bandName" v-if="seen">Enter Band Name: </label>
					<input v-if="seen" id="bandName" :state="state" v-validate="required"  v-model.trim="album.bandName"><br v-if="seen">
					<p v-if="!seen"> Year: {{album.year}} </p>
					<label for="year" v-if="seen">Enter Year: </label>
					<input v-if="seen" id="year" :state="state" v-model.trim="album.year"><br v-if="seen">
					<p v-if="!seen">Description: {{album.description}}</p>
					<label for="description" v-if="seen">Enter Description: </label>
					<textarea v-if="seen" 
						id="description" 
						:state="state"  
						v-model.trim="album.description"
						:rows="2"
						:max-rows="6"
						:cols="50"> {{ album.description}} </textarea><br>
					<p v-if="!seen">---------------------- Tracks: ----------------------</p>
				</template>
					<li v-for='track in album.tracks'>
						<p v-if="!seen">Song name: {{track.title}} </p>
						<label for="Title" v-if="seen">Enter Title</label>
						<input id="Title:" type="text" v-if="seen" v-validate="required" v-model="track.title">
						<p v-if="!seen" >Author: {{track.author}} </p> 
						<label for="Author" v-if="seen"> Enter Author</label>
						<input id="Author" type="text" v-if="seen" v-model="track.author">
						<p v-if="!seen">Duration: {{track.duration}} </p> 
						<label for="duration" v-if="seen"> Enter Duration </label>
						<input id="Duration" type="text" v-if="seen" v-model="track.duration">
						<p v-if="!seen">--------------------------------------------</p>	
					</li>
				<hr class="my-4">
			</b-jumbotron>
			<b-btn @click.stop="deletealbum(album._id)">Delete</b-btn>
			<b-btn @click.stop="seen = !seen">Edit</b-btn>
			<b-btn v-if="seen" @click="Edit" variant="primary">DONE</button>
		</b-col>
	</b-row>
	</div>
</template>

<script>

import axios from 'axios'

export default {
	name: 'ShowAlbum',
	data () {
		return {
			album: [],
			seen: false
		}
		
	},
	created () {
		axios.get(`http://localhost:3030/album/` + this.$route.params.id)
			.then(response => {
				this.album = response.data
			})
			.catch(e => {
				this.errors.push(e)
			})
	},
	methods: {
		editAlbum(albumid) {
			this.$router.push({
				name: 'EditAlbum',
				params: { id: albumid }
			})
		},
		deletealbum(albumid) {
			axios.delete(`http://localhost:3030/album/` + albumid)
				.then((result) => {
					this.$router.push({
						name: 'AlbumList'
					})
				})
				.catch(e => { 
					this.errors.push(e)
				})
		},
		Edit: function() {
			axios.put(`http://localhost:3030/album/` + this.$route.params.id, this.album )
				.then(response => {
					this.$router.push({
						name: 'AlbumList',
						params: { id: this.$route.params.id }
					})
				})
				.catch( e => {
					this.errors.push(e)
				})

		}
	}
}

</script>

<style>
	.jumbotron {
		padding: 2rem;
	}
.bgimg{
	background-color: lightgray;
	}
</style> 
