<template>
	<div id="app" class="bgimg">
	  	<div class="jumbotron">
			<br>
			<br>
			<h1 class='th1'>TP-3 NodeJS + Vue.js</h1>
			<h4 style='color:white'> Grupo 5 </h4>
			<br>
			<br>
	  	</div>
    		<div class="bgimg">
    			<router-view/>
    		</div>
  	</div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.bgimg {

  background:rgba(255,255,255,0.5); }


.jumbotron {
	background-image: url('./assets/banner4.jpg');
}
.title{
	color:"white";
	font-size:"16";
}
.th1 {
	color:white;
	font-size:4rem;
}

</style>


